/*=== Menu Styles ===*/

.nav-wrap {
	background-color: #444;
	
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #333;
	border-bottom-color: #333;
	
	margin-right: auto;
	margin-left: auto;
	padding-left:16%;
}

.nav-wrap2 {

	background-color: #222;
	
	
	margin-right: auto;
	margin-left: auto;
	padding-left:16%;
}
	
	
/* I'm going to mess up your files hahahah */
